# Task 2: Data Preprocessing for Machine Learning – AI Bootcamp

Download Titanic Dataset here: https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv

#### About this file

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone on board, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

## Section 1: Data Loading & Exploration

### **Task 1**: Load and Inspect a Dataset

*Instruction*: Load the `titanic.csv` dataset and display the first 5 rows. Show basic info and describe statistics of the dataset.

In [2]:
import pandas as pd

df = pd.read_csv('titanic.csv')
print(df.head())
print(df.info())
print(df.describe())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None
         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

## Section 2: Handling Missing Values

### **Task 2**: Identify and Handle Missing Data

*Instruction*:



*   Display the number of missing values per column.
*   Fill missing `Age` values with the median.
*   Drop the `Cabin` column.

In [ ]:
# Import necessary libraries
import pandas as pd

# Load the dataset
df = pd.read_csv('titanic.csv')

# Display the number of missing values per column
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values)

# Fill missing Age values with the median
df['Age'].fillna(df['Age'].median(), inplace=True)

# Drop the Cabin column if it exists
if 'Cabin' in df.columns:
    df.drop(columns=['Cabin'], inplace=True)

# Display the first few rows of the updated DataFrame
print("\nUpdated DataFrame:")
print(df.head())

Missing values per column:
Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

Updated DataFrame:
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

<ipython-input-7-883da2ca3a79>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

## Section 3: Encoding Categorical Features

*italicized text*### **Task 3**: Convert Categorical to Numeric

*Instruction*: Convert `Sex` and `Embarked` columns to numeric using:


*   Label Encoding for `Sex`
*   One-Hot Encoding for `Embarked`

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load the dataset
df = pd.read_csv('titanic.csv')

# Display the initial DataFrame and the column names
print("Initial DataFrame:")
print(df.head())
print("\nColumns in DataFrame:")
print(df.columns)

# Task 3: Convert Categorical to Numeric

# Step 1: Check and Label Encoding for the 'Sex' column
if 'Sex' in df.columns:
    label_encoder = LabelEncoder()
    df['Sex'] = label_encoder.fit_transform(df['Sex'])
else:
    print("The 'Sex' column is not found in the DataFrame.")

# Step 2: One-Hot Encoding for the 'Embarked' column
if 'Embarked' in df.columns:
    # Using pd.get_dummies for One-Hot Encoding
    embarked_dummies = pd.get_dummies(df['Embarked'], prefix='Embarked', drop_first=True)
    df = pd.concat([df, embarked_dummies], axis=1)

    # Drop the original 'Embarked' column as it's now encoded
    df.drop(columns=['Embarked'], inplace=True)
else:
    print("The 'Embarked' column is not found in the DataFrame.")

# Display the updated DataFrame
print("\nUpdated DataFrame with Encoded Features:")
print(df.head())

Initial DataFrame:
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

Columns in DataFrame:
Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')
The 'Embarked' column is not found in the DataFrame.

Updated DataFrame with Encoded Features:
   Survived  Pclass                                               Name  Sex  \
0         0       3                             Mr. Owen Harris Braund    1
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...    0
2         1       3                              Miss. Laina Heikkinen    0
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle    0
4         0       3                            Mr. William Henry Allen    1

    Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0  22.0                        1                        0   7.2500
1  38.0                        1                        0  71.2833
2  26.0                        0                        0   7.9250
3  35.0                        1                        0  53.1000
4  35.0                        0                        0   8.0500

## Section 4: Feature Scaling

### **Task 4**: Scale Numerical Features

*Instruction*: Use StandardScaler to scale the Age and Fare columns.*italicized text*

In [ ]:
# Step 1: Import necessary libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Step 2: Load the dataset
df = pd.read_csv('titanic.csv')

# Step 3: Display the initial DataFrame (optional)
print("Initial DataFrame:")
print(df.head())

# Step 4: Initialize the StandardScaler
scaler = StandardScaler()

# Step 5: Select the columns 'Age' and 'Fare' to be scaled
columns_to_scale = ['Age', 'Fare']

# Step 6: Check if columns exist in the DataFrame
for column in columns_to_scale:
    if column not in df.columns:
        print(f"Warning: '{column}' column is not found in the DataFrame.")
        # You can choose to continue or break here based on your needs

# Step 7: Fit and transform the selected columns if they exist
if all(column in df.columns for column in columns_to_scale):
    df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# Step 8: Display the updated DataFrame after scaling
print("\nUpdated DataFrame after scaling:")
print(df.head())

Initial DataFrame:
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

Updated DataFrame after scaling:
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex       Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
0    male -0.529366                        1                        0
1  female  0.604265                        1                        0
2  female -0.245958                        0                        0
3  female  0.391709                        1                        0
4    male  0.391709                        0                        0

       Fare
0 -0.503586
1  0.783412
2 -0.490020
3  0.417948
4 -0.487507

## Section 5: Feature Engineering

### **Task 5**: Build Preprocessing Pipeline

*Instruction*: Using `ColumnTransformer` and `Pipeline` from `sklearn`, build a pipeline that:



*   Imputes missing values
*   Scales numeric data
*   Encodes categorical data

In [ ]:
# Step 1: Import necessary libraries
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Step 2: Load the dataset
df = pd.read_csv('titanic.csv')

# Display initial DataFrame
print("Initial DataFrame:")
print(df.head())
print("\nColumns in DataFrame:")
print(df.columns)  # Check the available columns

# Step 3: Define the numeric and categorical features
numeric_features = ['Age', 'Fare']  # Numeric columns to scale
categorical_features = ['Sex', 'Embarked']  # Categorical columns to encode

# Make sure these columns exist in the DataFrame
for feature in numeric_features + categorical_features:
    if feature not in df.columns:
        print(f"Warning: '{feature}' column is not found in the DataFrame.")

# Step 4: Create the numeric transformer
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),  # Impute missing values with mean
    ('scaler', StandardScaler())  # Scale numeric features
])

# Step 5: Create the categorical transformer
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),  # Impute missing values with most frequent
    ('onehot', OneHotEncoder(handle_unknown='ignore'))  # One-hot encode categorical features
])

# Step 6: Combine transformers into a single column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),  # Apply numeric transformer
        ('cat', categorical_transformer, categorical_features)  # Apply categorical transformer
    ]
)

# Step 7: Create the final pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor)  # This pipeline transforms the data
])

# Step 8: Fit and transform the data using the pipeline
# Extract features only for processing
X = df[numeric_features + categorical_features]  # Select features for processing
X_transformed = pipeline.fit_transform(X)

# Step 9: Display the shape of the transformed data
print("\nTransformed Data Shape:", X_transformed.shape)

# Step 10: Create a DataFrame from the transformed data for better readability
# Get feature names after one-hot encoding to label the DataFrame
ohe_feature_names = pipeline.named_steps['preprocessor']\
    .transformers_[1][1].named_steps['onehot'].get_feature_names_out(categorical_features)
column_names = numeric_features + list(ohe_feature_names)

# Create a DataFrame with the transformed data
processed_df = pd.DataFrame(X_transformed, columns=column_names)

# Step 11: Print the processed data
print("\nProcessed Data:")
print(processed_df.head())

Initial DataFrame:
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

Columns in DataFrame:
Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')
Warning: 'Embarked' column is not found in the DataFrame.

KeyError: "['Embarked'] not in index"

## Section 6: Feature Engineering

### **Task 6**: Create a New Feature

*Instruction*: Create a new feature `FamilySize` = `SibSp` + `Parch` + 1.

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

# Your code here

In [ ]:
# Step 1: Import necessary libraries
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Step 2: Load the dataset
df = pd.read_csv('titanic.csv')

# Step 3: Display the initial DataFrame and columns (optional)
print("Initial DataFrame:")
print(df.head())
print("\nColumns in DataFrame:")
print(df.columns)

# Step 4: Create the new feature 'FamilySize'
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

# Step 5: Define the numeric and categorical features
# Include the new 'FamilySize' feature in the numeric features list
numeric_features = ['Age', 'Fare', 'FamilySize']  # Numeric columns to scale
categorical_features = ['Sex', 'Embarked']  # Categorical columns to encode

# Step 6: Create the numeric transformer
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),  # Impute missing values with mean
    ('scaler', StandardScaler())  # Scale numeric features
])

# Step 7: Create the categorical transformer
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),  # Impute missing values with most frequent
    ('onehot', OneHotEncoder(handle_unknown='ignore'))  # One-hot encode categorical features
])

# Step 8: Combine transformers into a single column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),  # Apply numeric transformer
        ('cat', categorical_transformer, categorical_features)  # Apply categorical transformer
    ]
)

# Step 9: Create the final pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor)  # This pipeline transforms the data
])

# Step 10: Fit and transform the data using the pipeline
# Extract features only for processing
X = df[numeric_features + categorical_features]  # Select features for processing
X_transformed = pipeline.fit_transform(X)

# Step 11: Display the shape of the transformed data
print("\nTransformed Data Shape:", X_transformed.shape)

# Step 12: Create a DataFrame from the transformed data for better readability
# Get feature names after one-hot encoding to label the DataFrame
ohe_feature_names = pipeline.named_steps['preprocessor'] \
    .transformers_[1][1].named_steps['onehot'].get_feature_names_out(categorical_features)
column_names = numeric_features + list(ohe_feature_names)

# Create a DataFrame with the transformed data
processed_df = pd.DataFrame(X_transformed, columns=column_names)

# Step 13: Print the processed data
print("\nProcessed Data:")
print(processed_df.head())

Initial DataFrame:
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

Columns in DataFrame:
Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

KeyError: 'SibSp'